<form #reportCardForm="ngForm" (ngSubmit)="addRc(reportCardForm)">

    <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="email">Name</label>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control">
        </div>
        <div class="col-6">
            <label for="password">Class</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label for="password">Roll No</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
        </div> <div class="col-6">
            <label for="password">Acadefmic Year</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
        </div>
    </div>

    <div class="row pt-4 text-center">
        <!-- <div class="col-12">
            <a href="/register">Click here to register</a>
        </div> -->
        <div class="col-12">
            <button class="btn loginBtn border" type="submit">Login</button>
        </div>
    </div>

</form>
