<div class="container-fluid bg">
    <div class="container">
        <div style="padding: 2em;">
            <div class="bg-white p-5" style="height: 90vh;">
                <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-4">
                        <img src="./../../../assets/K4K_LOGO.png" class="img-fluid">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h2 style="font-weight: 400;">Welcome to Kara4kids</h2>
                    </div>
                    <div class="col-2 ml-auto">
                        <button class="btn button border" *ngIf="!user" (click)="logout()">Logout</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button *ngFor="let menu of menus" [ngClass]="currentUrl === menu.naviagateTo[0] ? 'mb-2 button btn border' : 'mb-2 buttons btn border'"
                            (click)="navigateTo(menu.naviagateTo)">{{menu.title}}</button>
                    </div>
                    <div class="col-sm-10">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>