.links a{
    color:black;
    text-decoration: none;
}

.bg{
    background: url(./../../assets/K4K_BG.jpg) no-repeat scroll;
    background-size: cover;   
    background-position: center; 
    height: 100vh;
}
.heading{
    color:palevioletred;
}