<div class="container-fluid bg">
    <div class="container">
        <div style="padding: 2em;">
            <div class="bg-white p-5" style="height: 90vh;">
                <div class="row">
                    <div class="col-sm-8">

                    </div>
                    <div class="col-sm-4">
                        <img src="./../../../assets/K4K_LOGO.png" class="img-fluid">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h2 style="font-weight: 400;">Welcome to Kara4kids</h2>
                    </div>
                    <div class="col-3">
                        <button class="btn button border">Add Hoc</button>
                        <button class="btn button border">Logout</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn buttons border" (click)="showBranches($event)">Branches</button>
                        <button class="btn button border" (click)="showHoc($event)">Hoc</button>
                        <button class="btn buttons border" (click)="showTeacher($event)">Teacher</button>
                        <button class="btn buttons border" (click)="showStudent($event)">Student</button>
                    </div>
                    <div class="col-sm-10">
                        <table class="table table-bordered">
                            <thead style="background-color: #FDD1A1;">
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone no.</th>
                                    <th scope="col">Branch</th>
                                    <th scope="col">Adress</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>