<div>
    <div class="col-12 col-md-12 pb-3">
        <div class="col-12 col-md-12 text-right">
            <button class="button btn">Add HOC</button>

        </div>
    </div>
    <div class="col-12 col-md-12">
        <table class="table table-bordered">
            <thead style="background-color: #FDD1A1;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone no.</th>
                    <th scope="col">Branch</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>