<div>
    <div class="col-12 col-md-12 pb-3">
        <div class="col-12 col-md-12 text-right">
            <button class="button btn" (click)="open()">Add Branch</button>
        </div>
    </div>
    <div class="col-12 col-md-12">
        <table class="table table-bordered">
            <thead style="background-color: #FDD1A1;">
                <tr>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Hoc</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone no.</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <div class="col-md-12 p-0">
                            <div class="col-md-8  p-0 d-inline-block">
                                <div class="col-md-12 p-0"> Active</div>
                                <div class="col-md-12 p-0"> Inactiv</div>
                            </div>
                            <div class="col-md-2 p-0 d-inline-block align-top">
                                Edit
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>