<div class="container-fluid bg">
    <div class="container">
        <div class="row pl-5 pr-5 pt-5">
            <div class="col-sm-8 links">
                <a routerLink="/portfolio" style="border-bottom: 2px solid #f37e21;">What is a portfolio?</a><br>
                <a href="#" style="border-bottom: 2px solid #f37e21;">Overview of STREAM</a><br>
                <a href="#">Overview Of Units</a>
            </div>
            <div class="col-sm-4">
                <img src="./../../../assets/K4K_LOGO.png" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="heading">{{categories.cate_name}}</h2>
                <p>
                    {{categories.cate_desc}}
                </p>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>