<div class="col-12 col-md-12">
    <table class="table">
        <thead style="background-color: #FDD1A1;">
            <tr>
                <th scope="col" *ngFor="let data of tableDatas">{{data}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <div class="col-md-12 p-0">
                        <div class="col-md-8  p-0 d-inline-block">
                            <div class="col-md-12 p-0"> Active</div>
                            <div class="col-md-12 p-0"> Inactiv</div>
                        </div>
                        <div class="col-md-2 p-0 d-inline-block align-top">
                            Edit
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>